name: Test project

on:
  push:
    branches:
      - rob/automated-unity-tests-603

jobs:
  testAllModes:
    name: Test in ${{ matrix.testMode }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        projectPath:
        - src/UnitySampleProject
        releasePath:
        - ${GITHUB_WORKSPACE}/src/ChainSafe.GamingSdk.EVM.Unity/bin/Release/netstandard2.1
        packageLibraryPath:
        - ${GITHUB_WORKSPACE}/src/UnityPackages/io.chainsafe.web3-unity/Runtime/Libraries
        testMode:
          - playmode
          - editmode
          - standalone
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: update submodules
        # clone submodules
        run: |
          git submodule update --init
        shell: bash
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: |
          dotnet build --no-restore -c release /property:Unity=true
          echo Generated DLLs
          ls ${{ matrix.releasePath }}
      - name: Publish to Unity Package
        run: |
          rm -f ${{ matrix.releasePath }}/Newtonsoft.Json.dll
          rm -f ${{ matrix.releasePath }}/UnityEngine.dll
          mkdir -p ${{ matrix.packageLibraryPath }}
          rm -f ${{ matrix.packageLibraryPath }}/*
          cp ${{ matrix.releasePath }}/*.dll ${{ matrix.packageLibraryPath }}/
          echo Copied DLLs
          ls ${{ matrix.packageLibraryPath }}/
        shell: bash
      - uses: actions/cache@v2
        with:
          path: ${{ matrix.projectPath }}/Library
          key: Library-${{ matrix.projectPath }}
          restore-keys: |
            Library-
      - uses: game-ci/unity-test-runner@v3
        id: tests
        env:
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          projectPath: ${{ matrix.projectPath }}
          testMode: ${{ matrix.testMode }}
          artifactsPath: ${{ matrix.testMode }}-artifacts
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          checkName: ${{ matrix.testMode }} Test Results
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: Test results for ${{ matrix.testMode }}
          path: ${{ steps.tests.outputs.artifactsPath }}
      - uses: actions/upload-artifact@v2
        if: always()
        with:
          name: Coverage results for ${{ matrix.testMode }}
          path: ${{ steps.tests.outputs.coveragePath }}